.Typography {
  color: var(--mainTextColor);
  white-space: nowrap;
  line-height: 0;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.wrap {
  white-space: normal;
  line-height: normal;
}
