.Typography {
  color: var(--mainTextColor);
  white-space: nowrap;
  line-height: 0;
  display: inline;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.wrap {
  white-space: normal;
  line-height: normal;
}

.thin {
  font-weight: 200;
}

.center {
  text-align: center;
}

.danger {
  color: var(--dangerTextColor);
}
