$borderColor: var(--separatorBackgroundColor);

.Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;

  .GridItem:nth-child(-n + 3) {
    border-top: none;
  }
  .GridItem:nth-child(n + 3) {
    border-bottom: none;
  }
  .GridItem:nth-child(3n + 1) {
    border-left: none;
  }
  .GridItem:nth-child(n + 3) {
    border-right: none;
  }
  .GridItem:nth-child(1) {
    border-right: none;
    border-bottom: none;
  }
  .GridItem:nth-child(2) {
    border-right: none;
    border-bottom: none;
  }
}

$imageSize: 4rem;

.GridItem {
  margin: 0;
  padding: 3rem 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid $borderColor;

  img {
    height: $imageSize;
    width: $imageSize;
  }
}
