$margin: 2px;
$paddingHorizontal: 30px;
$borderWidth: 1.5px;
$maskGradient: linear-gradient(#fff 0 0);
$height: 46px;

$smallerHeight: 30px;

$regularShadow: 0px 4px 4px rgba(105, 104, 104, 0.25);
$pressedShadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25) inset;

.Button {
  border: none;
  border-radius: var(--borderRadius);
  margin: $margin;
  box-shadow: $regularShadow;
  height: $height;
  padding-left: $paddingHorizontal;
  padding-right: $paddingHorizontal;
  opacity: 1;
  font-family: inherit;

  transition: 0.1s opacity;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &:active {
    box-shadow: $pressedShadow;
    opacity: 0.6;
  }

  > svg {
    transition: 0.2s transform;
    transform: none;
  }
}

.primary {
  background: var(--gradient);
}

.secondary {
  display: inline-block;
  position: relative;
  background: transparent;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: $borderWidth;
    border-radius: var(--borderRadius);
    background: var(--gradient);

    -webkit-mask: $maskGradient content-box, $maskGradient;
    mask: $maskGradient content-box, $maskGradient;

    -webkit-mask-composite: destination-out;
    mask-composite: destination-out;
  }
}

.tertiary {
  border-radius: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  padding: 5px;
  height: $smallerHeight;

  &:active {
    box-shadow: none;
    opacity: 0.6;
  }

  > svg {
    height: 20px;
    width: 20px;
    padding-right: 5px;
    fill: var(--mainTextColor);
  }
}

.rotate {
  > svg {
    transform: translate(-5px, 5px) rotate(90deg);
  }
}

.tight {
  width: fit-content;
}
