.switch {
  display: flex;
  height: 23px;
  position: relative;
  width: 40px;
}

.switch input {
  display: none;
}

.slider {
  background-color: #292929;
  border: 3px solid #565656;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #292929;
  border: 1px solid #565656;
  bottom: 2px;
  content: '';
  height: 12px;
  left: 1px;
  position: absolute;
  transition: 0.4s;
  width: 12px;
  z-index: 421;
  filter: drop-shadow(3px 4px 4px #000);
}

input:checked + .slider {
  border-color: #cfcfcf;
  background-color: #efefef;
}

input:checked + .slider:before {
  transform: translateX(17px);
  border-color: #cfcfcf;
  background-color: #efefef;
  filter: drop-shadow(3px 4px 4px #565656);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggleMoon,
.toggleSun {
  width: 50%;
  text-align: center;
  padding: 0.25em;
  position: relative;
  z-index: 420;
}
