.Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2em;
  width: 100%;
  height: 100%;
  max-width: 1500px;

  #habit-tracker {
    grid-column: 1/6;
  }

  #weather {
    grid-column: 6/9;
  }

  #pomodoro {
    grid-column: 1/3;
    width: 250px;
  }

  #post-it {
    grid-column: 3/9;
  }

  #goals {
    grid-column: 1/4;
  }

  #review {
    grid-column: 4/9;
  }
}
